<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.0.0" href="styles/shards-dashboards.1.0.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.0.0.min.css">
    <link rel="stylesheet" href="styles/vendor/main.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100">
    <div class="container-fluid bg-white">
        <div class="row">
            <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
                <div class="main-navbar nav-up">
                  <div class="container p-0">
                    <!-- Main Navbar -->
                    <nav class="navbar align-items-stretch navbar-light  flex-md-nowrap p-0">
                      <a class="navbar-brand" href="#" style="line-height: 25px;">
                        <div class="d-table m-auto">
                          <img id="main-logo" class="d-inline-block align-top mr-1 ml-3" style="max-width: 25px;" src="images/ub.png" alt="Shards Dashboard">
                          <span class="d-none d-md-inline ml-1 text-white">FEB UB</span>
                        </div>
                      </a>
                     
                      <ul class="navbar-nav flex-row  ml-auto">
                        <li class="nav-item dropdown text-white">
                          <a class="nav-link text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle mr-2" src="images/avatars/0.jpg" alt="User Avatar"> <span class="d-none d-md-inline-block text-white">Mahasiswa Pintar</span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-small text-white">
                            <a class="dropdown-item" href="edit-user-profile.html"><i class="material-icons"></i> Edit Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">
                              <i class="material-icons text-danger"></i> Logout </a>
                          </div>
                        </li>
                      </ul>
                      <nav class="nav">
                        <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center " data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                          <i class="material-icons text-white"></i>
                        </a>
                      </nav>
                    </nav>
                  </div> <!-- / .container -->
                </div> <!-- / .main-navbar -->
                <div class="header-navbar collapse d-lg-flex p-0 nav-down ">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <ul class="nav  border-0 flex-column flex-lg-row ">
                          <li class="nav-item">
                            <a href="home.html" class="nav-link  text-white"><i class="material-icons">toc</i> Jadwal Kuliah</a>
                          </li>
                          <li class="nav-item">
                            <a href="agenda.html" class="nav-link  text-white"><i class="material-icons">event</i> Agenda</a>
                          </li>
                          <li class="nav-item">
                            <a href="ruangan.html" class="nav-link  text-white"><i class="material-icons">picture_in_picture</i> Ruangan</a>
                          </li>
                          <li class="nav-item ">
                              <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button">
                                <span><i class="material-icons">view_module</i>Sarana & Prasarana</span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-small">
                              <a href="peminjaman_rutin.html" class="dropdown-item">Ruang Rutin</a>
                              <a href="peminjaman_non_rutin.html" class="dropdown-item">Ruang Non Rutin</a>
                              <a href="inventaris.html" class="dropdown-item">Inventaris</a>
                            </li>
                          <li class="nav-item">
                            <a href="transaksi.html" class="nav-link text-white"><i class="material-icons"></i> Transaksi</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-content-container container-fluid">
                  <!-- Page Header -->
                  <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-6 text-center text-sm-left mb-4 mb-sm-0">
                        <span class="text-uppercase page-subtitle">Peminjaman</span>
                        <h3 class="page-title">Ruangan Rutin</h3>
                    </div>
                    <div class="col-12 col-sm-6 text-right text-sm-right mb-4 mb-sm-0">
                            <a href="ecommerce.html" class="btn btn-white active"> Tambah </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 mb-4">
                      <div class="h-100">
                        <div class="border-bottom ">
                          <h6 class="m-0">Daftar Riwayat Peminjaman</h6>
                          <div class="block-handle"></div>
                        </div>
                        <div class="pt-0  py-2">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                          <div class="row py-2 ">
                            <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
                              <div class="btn-group btn-group-sm btn-group-toggle d-flex my-auto mx-auto mx-sm-0" >
                                    <input class="input-sm form-control" type="text" placeholder="Cari disini" style="min-width: 300px;">
                                    <a href="index.html" class="btn btn-white" hidden> Pending </a>
                                    <a href="ecommerce.html" class="btn btn-white active" hidden> Sales </a>
                              </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                              <div id="sessions-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="max-width: 350px;">
                                <input type="text" class="input-sm form-control" name="start" placeholder="Start Date" id="analytics-overview-sessions-date-range-1">
                                <input type="text" class="input-sm form-control" name="end" placeholder="End Date" id="analytics-overview-sessions-date-range-2">
                                <span class="input-group-append">
                                  <span class="input-group-text">
                                    <i class="material-icons"></i>
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class=" p-0 pb-3 text-center">
                            <table class="table mb-0 table-bordered" >
                              <thead class="bg-light">
                                <tr>
                                  <th>No</th>
                                  <th>KODE PEMINJAMAN</th>
                                  <th>TANGGAL PEMINJAMAN</th>
                                  <th>STATUS</th>
                                  <th>Aksi</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>
                                      
                                        <a data-toggle="modal" data-target="#modal_peminjaman" title="Tampilkan surat tugas di bulan ini"> FEB1</a>	
                   
                                
                                </td>
                                  <td>12-03-2018</td>
                                  <td class="text-warning">pending</td>
                                  <td style="max-width: 20px;">
                                      <div class="btn-group btn-group-sm" >
                                        <a type="button" class="btn btn-white" title="Edit Transaksi">
                                          <i class="material-icons">edit</i>
                                        </a>
                                        <a type="button" class="btn btn-white" title="Hapus Transaksi">
                                          <i class="material-icons">delete</i>
                                        </a>
                                      </div>
                                </td>
                                </tr>
                                <tr>
                                  <td>1</td>
                                  <td><a href="">FEB2</a></td>
                                  <td>12-03-2018</td>
                                  <td class="text-danger">cancel</td>
                                  <td style="max-width: 20px;">
                                        <div class="btn-group btn-group-sm" >
                                          <a type="button" class="btn btn-white" title="Edit Transaksi">
                                            <i class="material-icons">edit</i>
                                          </a>
                                          <a type="button" class="btn btn-white" title="Hapus Transaksi">
                                            <i class="material-icons">delete</i>
                                          </a>
                                        </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>1</td>
                                  <td><a href="">FEB3</a></td>
                                  <td>12-03-2018</td>
                                  <td class="text-success">complete</td>
                                  <td style="max-width: 20px;">
                                        <div class="btn-group btn-group-sm" >
                                          <a type="button" class="btn btn-white" title="Edit Transaksi">
                                            <i class="material-icons">edit</i>
                                          </a>
                                          <a type="button" class="btn btn-white" title="Hapus Transaksi">
                                            <i class="material-icons">delete</i>
                                          </a>
                                        </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top bg-secondary">
                  <span class="copyright ml-auto my-auto mr-2 text-white">Copyright © 2018 MASMASE</span>
                </footer>
              </main>
        </div>
      </div>

      <div class="modal fade " data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="modal_peminjaman">
        <div class="modal-dialog full-screen modal-dialog-centered " role="document"  style="min-width:80%;">
          <div class="modal-content" style="min-width:80%; " >
              <div class="modal-header">
                  
              <h5 class="modal-title" id="exampleModalLongTitle">Detail Peminjaman</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body" >
                    <div class="row">
                    <div class="col-lg-5 ">
                    <table class="table table-sm borderless " style="text-align:left;">
                        <tbody class="">
                            <tr>
                                <td class="">Kode Peminjaman</td>
                                <td class="">: FEB1</td>
                            </tr>
                            <tr>
                                <td class="">Tanggal Peminjaman</td>
                                <td class="">: 12-03-2018</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-lg-2 " ></div>
                    <div class="col-lg-5 ml-auto ">
                    <table class="table table-sm borderless " style="text-align:left;">
                        <tbody class="">
                            <tr>
                                <td class="">Nama Peminjam</td>
                                <td class="">: Sueddi Sihotang </td>
                            </tr>
                            <tr>
                                <td class="">NIM </td>
                                <td class="">: 155150201111309 </td>
                            </tr>
                          
                        </tbody>
                    </table>
                    </div>
                    </div>
                    <div class="card-body p-0 ">
                    <table class="table table-sm  " >
                        <thead style="text-align:center;">
                            <tr>
                            <th>No</th>
                            <th>Ruangan</th>
                            <th>Hari</th>
                            <th>Jam</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;">
                        <tr>
                            <td>1</td>
                            <td>D12</td>
                            <td>Senin</td>
                            <td>07:00 - 09:30</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>E12</td>
                            <td>Senin</td>
                            <td>07:00 - 09:30</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>E13</td>
                            <td>Senin</td>
                            <td>07:00 - 09:30</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>E14</td>
                            <td>Senin</td>
                            <td>07:00 - 09:30</td>
                        </tr>
                        </tbody>
                        
                    </table>
                    </div>
                </div>
             
              
              <div class="modal-footer">
              <a type="button" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
              <a type="button" class="btn btn-sm btn-primary" href=""><i class="fa fa-print"></i> Print</a>
            </div>
          </div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/shards-dashboards.1.0.0.min.js"></script>
    <script src="scripts/app/app-blog-overview.1.0.0.js"></script>
  </body>
</html>